:root {
  /* Colors */
  --main-color-web: #4D5AE5;
  --main-title-color: #2E2F42;
  --main-cloud: #F4F4FD;
  --main-bg-white: #FFFFFF;
  --main-text-color: #434455;
  --main-dark-color: #2E2F42;
  --main-link-color: #404bbf;
  --main-accent-color: #e7e9fc;

/* Flexbox grid - number */
--items: 3;
/*  Flexbox grid - gap */
--indent: 24px;
}

/**
          |============================
          |  Styles
          |============================
        */
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-white);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link,
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

.list,
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.btn,
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
          |============================
          | Base styles
          |============================
        */
.title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.profit-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

/**
                  |============================
                  | Header-section
                  |============================
                */
.header {
border-bottom: 1px solid var(--main-accent-color)
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color-web);
  display: inline-block;
}

.logo-black-title {
  color: var(--main-title-color);
}

.header-nav {
display: flex;
align-items: center;
}


.header-list {
display: flex;
gap: var(--indent);
align-items: center;
--indent: 40px;
}


.header-item {
flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}


.header-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--main-link-color);
}

.header-link:active {
  color: var(--main-color-web);
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: var(--indent);
  --items: 2;
  --indent: 40px;
}


.header-address-item {
flex-basis: calc((100% - (var(--indent)) * (var(--items) - 1)) / var(--items));
}


.header-address-link:hover,
.header-address-link:focus {
  color: var(--main-link-color);
}

.header-address-link:active {
  color: var(--main-color-web);
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/**
                  |============================
                  | Main styles webstudio page
                  |============================
                */
.main {}

.section {}

/* Hero-section */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--main-dark-color);
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-bg-white);
}

.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--main-color-web);
  color: var(--main-bg-white);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--main-link-color);
}

/* section 2 */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
.profit {
padding-top: 120px;
padding-bottom: 120px;
}

.profit-list {
display: flex;
gap: var(--indent);
justify-content: space-between;
}
.profit-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.profit-title {
margin-bottom: 8px;
color: var(--main-dark-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
.profit-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* Projects-section */
.projects {
padding-bottom: 120px;
}

.projects-list {
  display: flex;
  gap: var(--indent);
}

/* Our-team-section */
.our-team {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-cloud);
}

.our-team-list {
display: flex;
gap: var(--indent);
justify-content: space-between;
--items: 4;
}

.our-team-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-white);
}
.team-card-content {
    padding: 32px 16px;
    text-align: center;
  }
.our-team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/**
                   |============================
                   | Main styles portfolio page
                   |============================
                 */
.portfolio {
text-align: center;
padding-top: 96px;
padding-bottom: 120px;
}
.portfolio-nav {
    display: flex;
    gap: var(--indent);
    justify-content: center;
    margin-bottom: 72px;
  }
.nav {
  display: flex;
  align-items: center;
}

.portfolio-nav-item {

}

.portfolio-nav-button {
  padding: 12px 24px;
  border: 1px solid var(--main-accent-color);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color-web);
  background-color: var(--main-cloud);
}

.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
  border: 1px solid transparent;
  color: var(--main-bg-white);
  background-color: var(--main-link-color);
}

.portfolio-list {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  
}

.portfolio-item {
flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portfolio-page-card-content {
    padding: 32px 16px;
    border: 1px solid var(--main-accent-color);
    border-top: none;
    text-align: left;
  }

.portfolio-text {
  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/**
                      |============================
                      | Footer content
                      |============================
                    */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-dark-color);
}
.footer-logo {
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-web);
    display: inline-block;
}
.footer-logo-light {
  color: var(--main-cloud);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-cloud);
}